
<!-- BEGIN forumrow -->
<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
</ul>

</div>
</div>
<!-- ENDIF -->

<!-- EVENT forumlist_body_category_header_before -->
<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
<div class="forabg" style="
    border-radius: 9px;
">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <!-- EVENT forumlist_body_category_header_row_prepend -->
                <dl class="icon">
                    <dt>
                        <div class="list-inner" id="list_inner"><!-- IF forumrow.S_IS_CAT --><a
                                href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
                            <!-- ELSE -->{L_FORUM}<!-- ENDIF --></div>
                        <div class="forum_symbol">
                            <img src="{T_THEME_PATH}/images/forum_bottom_symbol.svg">

                        </div>
                    </dt>

                </dl>
                <!-- EVENT forumlist_body_category_header_row_append -->
            </li>
        </ul>
        <ul class="topiclist forums">

            <!-- ENDIF -->
            <!-- EVENT forumlist_body_category_header_after -->

            <!-- IF not forumrow.S_IS_CAT -->
            <!-- EVENT forumlist_body_forum_row_before -->
            <li class="row">
                <table>
                    <tr>
                        <td class="forum_icon" style="vertical-align: baseline;padding-top: 10px;">
                            <img src="{T_THEME_PATH}/images/icon_forum.svg" class="forum">
                        </td>
                        <td valign="top" align="left" style="padding-top:10px; line-height: 1.8em;">
                            <span style="font-size:15px;"><a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a></span>
                            <!-- IF forumrow.FORUM_DESC -->
                            <div class="topic_desc">
                                <span class="text_desc" style="line-height: normal;">{forumrow.FORUM_DESC}</span>
                            </div>
                            <!-- ENDIF -->
                            <div class="topic_desc">
                                <!-- IF forumrow.TOPICS --><span
                                    class="text_desc">{L_TOPICS}{L_COLON} {forumrow.TOPICS} </span> <!-- ENDIF --><span
                                    class="text_desc">Сообщения: 30</span><br>
                                <span class="text_desc">Просмотров: 30</span>
                            </div>
                            <!-- IF .forumrow.subforum and forumrow.S_LIST_SUBFORUMS -->
                            <!-- EVENT forumlist_body_subforums_before -->
                            <!-- BEGIN subforum -->

                            <div class="topic_desc">
                                <ul>
                                    <li>
                                        <!-- EVENT forumlist_body_subforum_link_prepend --><a
                                            href="{forumrow.subforum.U_SUBFORUM}"
                                            title="<!-- IF forumrow.subforum.S_UNREAD -->{L_UNREAD_POSTS}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF -->">
                                        • {forumrow.subforum.SUBFORUM_NAME}</a>
                                        <!-- EVENT forumlist_body_subforum_link_append -->

                                    </li>

                                </ul>
                            </div>
                            <!-- END subforum -->
                            <!-- EVENT forumlist_body_subforums_after -->
                            <!-- ENDIF -->


                        </td>

                    </tr>


                </table>
                <div class="forum_last">
                    <span>Последнее: </span><br><a><span>Some link</span></a>
                </div>
            </li>
            <!-- EVENT forumlist_body_forum_row_after -->
            <!-- ENDIF -->

            <!-- IF forumrow.S_LAST_ROW -->
        </ul>

    </div>
</div>
<!-- EVENT forumlist_body_last_row_after -->
<!-- ENDIF -->

<!-- BEGINELSE -->
<div class="panel">
    <div class="inner">
        <strong>{L_NO_FORUMS}</strong>
    </div>
</div>
<!-- END forumrow -->

