<!-- INCLUDE overall_header.html -->

<div class="search-box" role="search">
    <form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}">
        <fieldset>
            <input class="inputbox search tiny" type="search" name="keywords" id="search_keywords" size="20"
                   placeholder="{L_SEARCH_FORUM}"/>

            <button  class="button icon-button search-icon" style="
    width: 27px;
    height: 27px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -27px;
    padding-top: 0px;
    padding-bottom: 0px;
-webkit-box-shadow:none;
box-shadow: none;
background-color: transparent;" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
            {S_SEARCH_LOCAL_HIDDEN_FIELDS}
        </fieldset>
    </form>
</div>
<!-- EVENT index_body_markforums_before -->
<!-- IF U_MARK_FORUMS -->
<div class="action-bar compact">
    <a href="{U_MARK_FORUMS}" class="mark-read rightside" accesskey="m" data-ajax="mark_forums_read">{L_MARK_FORUMS_READ}</a>
</div>
<!-- ENDIF -->
<!-- EVENT index_body_markforums_after -->
<div class="forum_list">

    <!-- INCLUDE forumlist_body.html -->
</div>
<!-- EVENT index_body_forumlist_body_after -->


<!-- EVENT index_body_stat_blocks_before -->
<div class="forum_info">
    <button class="button_info">
        Trade Protect
    </button>
    <button class="button_info">
        Trade Protect
    </button>
    <!-- IF S_DISPLAY_ONLINE_LIST -->
    <div class="online_view">
        <!-- IF U_VIEWONLINE --><h3 style="text-transform:none;"><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
        <!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->

            <!-- EVENT index_body_block_online_prepend -->
            {LOGGED_IN_USER_LIST}
        <table>
            {TOTAL_USERS}
            {TOTAL_USERS_ONLINE}
        </table>
        <!-- IF U_VIEWONLINE -->
        <!-- ENDIF -->
        <!-- EVENT index_body_block_online_append -->
    </div>
    <!-- ENDIF -->

    <!-- EVENT index_body_birthday_block_before -->


    <!-- IF NEWEST_USER -->
    <div class="online_view">
        <h3>{L_STATISTICS}</h3>
        <p>
            <!-- EVENT index_body_block_stats_prepend -->
        <table>
            {TOTAL_TOPICS}
            {TOTAL_POSTS}
            {NEWEST_USER}
            {RECORD_USERS}
        </table>
        <!-- EVENT index_body_block_stats_append -->
        </p>
    </div>
    <!-- ENDIF -->

    <!-- EVENT index_body_stat_blocks_after -->
</div>
<!-- INCLUDE overall_footer.html -->
