<div style="padding-left: 5%;padding-right: 5%;background-color: #6B89FB;">
    <div class="slider">
        <div class="slider__wrapper">
            <!-- BEGIN carousel -->
            <div class="slider__item">
                <a href="{carousel.URL}">
                    <div style="padding: 20px">
                        <div class="slider_cart" style="width: 66px; height: 80px;">
                            <img class="slider_image" src="{T_THEME_PATH}/images/{carousel.IMAGE}">
                            {carousel.TITLE}
                        </div>
                    </div>
                </a>
            </div>
            <!-- END carousel -->

        </div>
        <a class="slider__control slider_control_left" href="#" role="button"></a>
        <a class="slider__control slider_control_right slider__control_show" href="#" role="button"></a>
    </div>
</div>
<div class="banners">
    <div class="banner">


        <img src="{T_THEME_PATH}/images/banner1.svg">
        <p class="banner_text">
            World of Warcraft Lich King
        </p>
    </div>
    <div class="banner">

        <img src="{T_THEME_PATH}/images/banner2.svg">
        <p class="banner_text">
            Rise of the Tomb Raider
        </p>
    </div>
</div>