<div class="navbar" role="navigation">
	<div class="inner">

		<!-- IF U_CONTACT_US --><h3 class="rightside"><a href="{U_CONTACT_US}" role="menuitem">{L_CONTACT_US}</a></h3><!-- ENDIF -->

		<h3 class="rightside">{S_TIMEZONE}</h3>

		<h3 id="designed">Разработано: uix.digital</h3>
	</div>
</div>
