<!-- INCLUDE overall_header.html -->
<script>

    function post(data,id){
        $.ajax({
            url: "/topicpay_api.php",
            type: "POST",
            data: data,
            dataType: 'text',
            success: function (result) {
                $(id).html(result);
            }
        });
    }
    function getTypes() {
        var e = document.getElementById('topicList');
        var selectedTopic = e.options[e.selectedIndex].value;
        var data = {type: "getTypes", topic_id: selectedTopic};
        post(data, "#types");
    }

    function getTypeProperty(topic_id) {
        var e = document.getElementById('typeList');
        var selectedType = e.options[e.selectedIndex].value;
        var data = {type: 'getTypeProperties', topic_id: topic_id, typeId: selectedType};
        post(data, "#typeProperty");

    }

    function setProperty(topic_id){
        var data = $('#property').serializeArray().reduce(function(obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});

        data['topic_id'] = topic_id;
        data['type'] = "setProperty";
        post(data,"");
        window.location("http://forum.gaming-warehouse.com/index.php");
        return false;

    }

    window.onload = function () {
        getTypes();
    };
</script>

<div class="panel bg1">
    <div class="inner" style="display: flex;">
        <div class="content" style="    font-size: 1.5em;
        display: grid;
        margin-left: 35%;
        line-height: 2.4;

">
            <select style="
    border-radius: 100px;
    padding: 5px 20px;
" id="topicList" onchange="getTypes()" <!-- IF L_TOPIC_BLOCKED --> disabled <!-- ENDIF -->>
            <!-- BEGIN topics -->

            <option value="{topics.topic_id}" <!-- IF topic.SELECTED--> selected <!-- ENDIF --> >{topics.topic_title}</option>
            <!-- END topics -->
            </select>
            <div id="types">
            </div>
            <div id="typeProperty"></div>
        </div>
    </div>
</div>

<script>

    function post(data,id){
        $.ajax({
            url: "/topicpay_api.php",
            type: "POST",
            data: data,
            dataType: 'text',
            success: function (result) {
                $(id).html(result);
            }
        });
    }
    function getTypes() {
        var e = document.getElementById('topicList');
        var selectedTopic = e.options[e.selectedIndex].value;
        var data = {type: "getTypes", topic_id: selectedTopic};
        post(data, "#types");
    }

    function getTypeProperty(topic_id) {
        var e = document.getElementById('typeList');
        var selectedType = e.options[e.selectedIndex].value;
        var data = {type: 'getTypeProperties', topic_id: topic_id, typeId: selectedType};
        post(data, "#typeProperty");

    }

    function setProperty(topic_id){
        var data = $('#property').serializeArray().reduce(function(obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});

        data['topic_id'] = topic_id;
        data['type'] = "setProperty";
        post(data,"");
        window.location("http://forum.gaming-warehouse.com/index.php");
        return false;
    }

    window.onload = function () {
        getTypes();
    };
</script>
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
