<!-- INCLUDE overall_header.html -->

<div class="panel bg1">
    <div class="inner" style="display: flex;">
        <div class="content" style="    font-size: 1.5em;
        display: grid;
        margin-left: 25%;
        line-height: 2.4;

">
            <!-- IF L_POSTED -->
            <h1 style="color: black;">{U_POSTED}</h1>
            <!-- ELSE -->
            <form method="post" action="./trade_protect.php?mode=post">

                <table class="trade_protect_table">
                    <tr>
                        <td style="width: 200px;"><label for="username">Никнейм продавца</label></td>
                        <td>
                            <!-- IF L_USER_SALER -->
                            <a href="{U_USER_SALER}">{USER_SALER}</a>
                            <input type="hidden" name="username" id="username" value="{USER_SALER}">
                            <!-- ELSE -->
                            <input style="
    border-radius: 100px;
    padding: 5px 20px;
    width: 200px;
" name="username" type="text" id="username">
                            <!-- ENDIF -->
                            <!-- IF L_USER_NOT_FOUND -->
                            <strong style="color:red;">{U_USER_NOT_FOUND}</strong>
                            <!-- ENDIF -->
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px;">
                            <label for="message">Опишите что хотите купить и в каком количестве</label>
                        </td>
                        <td>
                        <textarea style="
    border-radius: 10px;
    padding: 5px 5px;
    width: 230px;
    height: 150px;
" name="message" id="message"> </textarea>
                        </td>
                    </tr>

                </table>
                <button style="
                    background: linear-gradient(194.41deg, rgba(107, 137, 251, 0.5) 8.82%, rgba(49, 175, 255, 0.5) 65.32%);
                    border: 0;
                    border-radius: 100px;
                    padding: 10px 30px;
                    color: white;
            " type="submit">Отправить
                </button>
            </form>
            <!-- ENDIF -->
        </div>
    </div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
