<!-- INCLUDE overall_header.html -->

<h2 class="ucp-title" style="text-align: center">{L_UCP}</h2>

<div style="float: left;">
    <!-- BEGIN t_block1 -->
    <div class="profile_breadcrumb">
        <a href="{t_block1.U_TITLE}">{t_block1.L_TITLE}</a>
    </div>
    <!-- IF t_block1.S_SELECTED -->
    <div id="item_list">
    </div>

    <!-- ENDIF -->
    <!-- END t_block1 -->
</div>



<script>
    var element = document.getElementById("item_list");
    <!-- BEGIN t_block2 -->
    element.innerHTML += '<a href="{t_block2.U_TITLE}"><span>{t_block2.L_TITLE}</span></a>';
    <!-- END t_block2 -->


</script>



<!-- IF S_COMPOSE_PM -->
<form id="postform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>
<!-- ENDIF -->

<div class="panel bg3">
	<div class="inner">

	<div style="width: 100%;">



	<div id="cp-main" class="ucp-main panel-container" style="
    margin-left: 50px;
    max-width: 75%;
">
