<!-- INCLUDE ucp_header.html -->
<form id="viewfolder" method="post" action="{S_PM_ACTION}">
    <h2>{L_TITLE}</h2>

    <div class="panel">

        <div class="inner">
            <h3>Мой баланс {L_COINS_2} </h3>
            <fieldset>
                <dl>
                    <dt><label for="coins">Кол-во Коинов для покупки:</label></dt>
                    <dd><input type="number" name="coins" id="coins"></dd>
                </dl>
            </fieldset>


        </div>
    </div>
    <fieldset class="submit-buttons">
        <input type="submit" name="submit" value="Пополнить">
    </fieldset>
</form>
<!-- INCLUDE ucp_footer.html -->
