<!-- INCLUDE ucp_header.html -->
    <h2>{L_TITLE}</h2>

    <div class="panel">

        <div class="inner">
           <ul>
            <!-- BEGIN bills -->
            <li>
                <table>
                    <tr>
                        <td>
                            {bills.GOOD}
                        </td>
                        <td>
                            {bills.PRICE}

                        </td>
                        <td>
                            <a style="
                    background: linear-gradient(194.41deg, rgba(107, 137, 251, 0.5) 8.82%, rgba(49, 175, 255, 0.5) 65.32%);
                    border: 0;
                    border-radius: 100px;
                    padding: 10px 30px;
                    color: white;
            " href="{bills.L_PAY_BUTTON}"> Оплатить</a>
                        </td>
                    </tr>
                </table>
            </li>


            <!-- END bills -->

           </ul>
        </div>
    </div>


<!-- INCLUDE ucp_footer.html -->
