<!-- INCLUDE overall_header.html -->

<div class="panel bg1">
    <div class="inner" style="display: flex;">
        <div class="content" style="    font-size: 1.5em;
        display: grid;
        margin-left: 25%;
        line-height: 2.4;

">
            <!-- IF L_POSTED -->
            <h1 style="color: black;">{U_POSTED}</h1>
            <!-- ELSE -->
            <form method="post" action="{L_INVOICE}">
                <table class="trade_protect_table">
                    <tr>
                        <td style="width: 200px;"><label for="good">Название товара и его количество</label></td>
                        <td>
                            <input style="
    border-radius: 100px;
    padding: 5px 20px;
    width: 200px;
" name="good" type="text" id="good">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px;"><label for="good_price">Цена товара</label></td>
                        <td>
                            <input style="
    border-radius: 100px;
    padding: 5px 20px;
    width: 200px;
" name="good_price" type="number" step="0.01" id="good_price">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px;"><label for="garant_price">Цена услуг гаранта</label></td>
                        <td>
                            <input style="
    border-radius: 100px;
    padding: 5px 20px;
    width: 200px;
" name="garant_price" type="number" step="0.01" id="garant_price">
                        </td>
                    </tr>

                </table>
                <button style="
                    background: linear-gradient(194.41deg, rgba(107, 137, 251, 0.5) 8.82%, rgba(49, 175, 255, 0.5) 65.32%);
                    border: 0;
                    border-radius: 100px;
                    padding: 10px 30px;
                    color: white;
            " type="submit">Выставить счет
                </button>
            </form>
            <!-- ENDIF -->
        </div>
    </div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
