<!-- INCLUDE overall_header.html -->
<div class="panel bg1" style="color:#000;">

    <h1 style="color: #000; margin-right: 0; text-align: center; margin-bottom: 20px">
        {L_TITLE}
    </h1>
    <div class="inner">
        <ul class="topiclist topics">
            <li class="row" style="padding-top: 20px;padding-bottom: 0px;">
                <table style="width: 100%; text-align: center; font-size: 1.6em">
                    <tr><td style="width: 20%">Покупатель</td><td style="width: 20%">Продавец</td><td style="width: 20%">Сообщение</td><td style="width: 20%">Статус</td><td style="width: 20%"></td></tr>
                </table>

            </li>
            <h1 style="color: #000; margin-right: 0; text-align: center; margin-bottom: 20px">
            <!-- BEGIN messages_taken -->
            <li class="row" style="padding-top: 20px;padding-bottom: 0px;">
                <table style="width: 100%; text-align: center; font-size: 0.8em">
                    <tr>
                        <td style="width: 20%"><a href="{messages_taken.L_BUYER}">{messages_taken.U_BUYER}</a></td>
                        <td style="width: 20%"><a href="{messages_taken.L_SELLER}">{messages_taken.U_SELLER}</a></td>
                        <td style="width: 20%">{messages_taken.MESSAGE}</td>
                        <td style="width: 20%">Ожидают выставления счета</td>
                        <td style="width: 20%"><a style="
    background: linear-gradient(194.41deg, rgba(107, 137, 251, 0.5) 8.82%, rgba(49, 175, 255, 0.5) 65.32%);
    border: 0;
    border-radius: 100px;
    padding: 10px 30px;
    color: white;
" href="{messages_taken.L_CREATE_BILL}">{messages_taken.U_CREATE_BILL}</a></td></tr>
                </table>

            </li>
            <!-- END messages_taken -->
                <!-- BEGIN messages_sent_bills -->
                <li class="row" style="padding-top: 20px;padding-bottom: 0px;">
                    <table style="width: 100%; text-align: center; font-size: 0.8em">
                        <tr>
                            <td style="width: 20%"><a href="{messages_sent_bills.L_BUYER}">{messages_sent_bills.U_BUYER}</a></td>
                            <td style="width: 20%"><a href="{messages_sent_bills.L_SELLER}">{messages_sent_bills.U_SELLER}</a></td>
                            <td style="width: 20%">{messages_sent_bills.MESSAGE}</td>
                            <td style="width: 20%">Ожидает оплаты счета</td>
                            <td style="width: 20%"></td></tr>
                    </table>

                </li>
                <!-- END messages_sent_bills -->
                <!-- BEGIN messages_payed_bills -->
                <li class="row" style="padding-top: 20px;padding-bottom: 0px;">
                    <table style="width: 100%; text-align: center; font-size: 0.8em">
                        <tr>
                            <td style="width: 20%"><a href="{messages_payed_bills.L_BUYER}">{messages_payed_bills.U_BUYER}</a></td>
                            <td style="width: 20%"><a href="{messages_payed_bills.L_SELLER}">{messages_payed_bills.U_SELLER}</a></td>
                            <td style="width: 20%">{messages_payed_bills.MESSAGE}</td>
                            <td style="width: 20%">Ожидает закрытия трейда</td>
                            <td style="width: 20%"><a style="
    background: linear-gradient(194.41deg, rgba(107, 137, 251, 0.5) 8.82%, rgba(49, 175, 255, 0.5) 65.32%);
    border: 0;
    border-radius: 100px;
    padding: 10px 30px;
    color: white;
" href="{messages_payed_bills.L_EXIT_INVOICE}">{messages_payed_bills.U_EXIT_INVOICE}</a></td></tr>
                    </table>

                </li>
                <!-- END messages_payed_bills -->
        </ul>
    </div>
</div>


<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->