<!-- INCLUDE overall_header.html -->
<div class="panel bg1" style="color:#000;">

    <h1 style="color: #000; margin-right: 0; text-align: center; margin-bottom: 20px">
        {L_TITLE}
    </h1>
    <div class="inner">
        <ul class="topiclist topics">
            <li class="row" style="padding-top: 30px;padding-bottom: 0px;">
                <table style="width: 100%; text-align: center; font-size: 1.6em">
                    <tr><td>Покупатель</td><td>Продавец</td><td>Сообщение</td><td style="width: 25%"></td></tr>
                </table>

            </li>
            <!-- BEGIN messages -->
            <li class="row" style="padding-top: 30px;padding-bottom: 0px;">
                <table style="width: 100%; text-align: center; font-size: 1.6em">
                    <tr><td style="width: 25%"><a href="{messages.L_BUYER}">{messages.U_BUYER}</a></td><td style="width: 25%"><a href="{messages.L_SELLER}">{messages.U_SELLER}</a></td><td style="width: 25%">{messages.MESSAGE}</td><td style="width: 25%"><a style="
    background: linear-gradient(194.41deg, rgba(107, 137, 251, 0.5) 8.82%, rgba(49, 175, 255, 0.5) 65.32%);
    border: 0;
    border-radius: 100px;
    padding: 10px 30px;
    color: white;
" href="{messages.L_TAKE}">{messages.U_TAKE}</a></td></tr>
                </table>

            </li>

            <!-- END messages -->
        </ul>
    </div>
</div>


<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->