<!-- INCLUDE overall_header.html -->

<!-- BEGIN breadcrumb -->
<h2 class="forum-title"><a href="{breadcrumb.LINK}">{breadcrumb.forum_name}</a></h2>

<!-- END breadcrumb -->


<!-- EVENT viewforum_forum_title_before -->
<!-- EVENT viewforum_forum_name_prepend -->
<!-- EVENT viewforum_forum_name_append -->
<!-- EVENT viewforum_forum_title_after -->
<!-- IF FORUM_DESC or MODERATORS or U_MCP -->
<div>
    <!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
    <!-- IF FORUM_DESC -->
    <div style="display: none !important;">{FORUM_DESC}<br/></div><!-- ENDIF -->
    <!-- IF MODERATORS --><p><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE --> {L_MODERATORS}
    <!-- ENDIF --> {L_COLON}</strong> {MODERATORS}</p><!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
<div class="rules<!-- IF U_FORUM_RULES --> rules-link<!-- ENDIF -->">
    <div class="inner">

        <!-- IF U_FORUM_RULES -->
        <a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
        <!-- ELSE -->
        <strong>{L_FORUM_RULES}</strong><br/>
        {FORUM_RULES}
        <!-- ENDIF -->

    </div>
</div>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->

<!-- INCLUDE forumlist_body.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO or .pagination or TOTAL_POSTS or TOTAL_TOPICS -->
<div class="action-bar top">

    <!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
    <div class="buttons">
        <!-- EVENT viewforum_buttons_top_before -->

        <a style="
    background: linear-gradient(194.41deg, rgba(107, 137, 251, 0.5) 8.82%, rgba(49, 175, 255, 0.5) 65.32%);
    border: 0;
    border-radius: 100px;
    padding: 10px 30px;
    color: white;
" href="{U_POST_NEW_TOPIC}"
           class="button icon-button <!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->post-icon<!-- ENDIF -->"
           title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->">
            <!-- IF S_IS_LOCKED -->{L_BUTTON_FORUM_LOCKED}<!-- ELSE --> {L_BUTTON_NEW_TOPIC}<!-- ENDIF -->
        </a>

        <!-- EVENT viewforum_buttons_top_after -->
    </div>
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_SEARCHBOX -->

    <!-- ENDIF -->
    <!-- IF S_DISPLAY_TRADE_FILTER -->

    <div role="filter" style="float: left; margin-left: 10px;">
        <form>
            <input type="hidden" name="f" value="{S_FORUM_ID}"/>
            <select style="
    border-radius: 100px;
    padding: 5px 20px;
    font-size: 1.5em;
" name="trade_type">
                <!-- BEGIN tradetype -->
                <option value="{tradetype.value}">{tradetype.name}</option>
                <!-- END tradetype -->
            </select>
            <select style="
    border-radius: 100px;
    padding: 5px 20px;
    font-size: 1.5em;
" name="trade_mode">
                <!-- BEGIN trademode -->
                <option value="{trademode.value}">{trademode.name}</option>
                <!-- END trademode -->
            </select>
            <button style="
    background: linear-gradient(194.41deg, rgba(107, 137, 251, 0.5) 8.82%, rgba(49, 175, 255, 0.5) 65.32%);
    border: 0;
    border-radius: 100px;
    padding: 10px 30px;
    color: white;
" type="submit">{S_FILTER_NAME}
            </button>

        </form>
    </div>
    <!-- ENDIF -->


</div>
<!-- ENDIF -->

<!-- IF S_NO_READ_ACCESS -->

<div class="panel">
    <div class="inner">
        <strong>{L_NO_READ_ACCESS}</strong>
    </div>
</div>

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

<form action="{S_LOGIN_ACTION}" method="post">

    <div class="panel">
        <div class="inner">

            <div class="content">
                <h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a
                        href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

                <fieldset class="fields1">
                    <dl>
                        <dt><label for="username">{L_USERNAME}{L_COLON}</label></dt>
                        <dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}"
                                   class="inputbox autowidth"/></dd>
                    </dl>
                    <dl>
                        <dt><label for="password">{L_PASSWORD}{L_COLON}</label></dt>
                        <dd><input type="password" tabindex="2" id="password" name="password" size="25"
                                   class="inputbox autowidth" autocomplete="off"/></dd>
                        <!-- IF S_AUTOLOGIN_ENABLED -->
                        <dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3"/>
                            {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
                        <dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline"
                                                           tabindex="4"/> {L_HIDE_ME}</label></dd>
                    </dl>
                    <dl>
                        <dt>&nbsp;</dt>
                        <dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1"/></dd>
                    </dl>
                    {S_LOGIN_REDIRECT}
                </fieldset>
            </div>

        </div>
    </div>

</form>

<!-- ENDIF -->

<!-- ENDIF -->

<!-- EVENT viewforum_body_topic_row_before -->

<!-- BEGIN topicrow -->

<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
</ul>
</div>
</div>
<!-- ENDIF -->

<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
<div class="forumbg<!-- IF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) --> announcement<!-- ENDIF -->">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl class="icon">
                    <dt<!-- IF S_DISPLAY_ACTIVE --> id="active_topics"<!-- ENDIF --> >
                    <div class="list-inner"><!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}
                        <!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) -->
                        {L_ANNOUNCEMENTS}<!-- ELSE --> Заголовок<!-- ENDIF --></div>
                    </dt>
                    <dd class="topic_date">Дата</dd>
                    <dd class="posts">{L_REPLIES}</dd>
                    <dd class="views">{L_VIEWS}</dd>
                    <dd class="lastpost" style="
    margin-left: 33px;
"><span>{L_LAST_POST}</span></dd>
                </dl>
            </li>
        </ul>
        <ul class="topiclist topics">
            <!-- ENDIF -->

            <!-- EVENT viewforum_body_topicrow_row_before -->
            <li class="row">
                <!-- EVENT viewforum_body_topic_row_prepend -->

                <table>
                    <tr>
                        <td class="forum_icon" style="vertical-align: baseline;padding-top: 10px;">
                            <img src="{T_THEME_PATH}/images/icon_forum.svg" class="forum">
                        </td>
                        <td valign="top" align="left" style="padding-top:10px; line-height: 1.8em;">
                            <!-- EVENT topiclist_row_prepend -->
                            <span><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a></span>
                            <!-- IF topicrow.S_TRADE --><span style="margin-left: 10px"><span style="color: darkgreen">{topicrow.trade_method}</span>/<span
                                style="color: red">{topicrow.trade_type}</span></span><!-- ENDIF -->

                            <div class="topic_desc">
                                <!-- IF forumrow.TOPICS --><span
                                    class="text_desc">{L_TOPICS}{L_COLON} {forumrow.TOPICS} </span> <!-- ENDIF -->
                                <br>

                            </div>


                        </td>


                    </tr>


                </table>
                <div class="topic_posts">                                <span class="text_desc">Ответов:{topicrow.REPLIES}</span>
                </div>
                <div class="topic_views"><span class="text_desc">Просмотров: {topicrow.VIEWS}</span></div>
                <div class="topic_last">
<span><dfn>{L_LAST_POST} </dfn>Последнее: <br><a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}"
                                                     style="color: {topicrow.LAST_POST_AUTHOR_COLOUR}">{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR}
  </a>
    <br/></span></div>
            </li>


            <!-- EVENT viewforum_body_topic_row_after -->

            <!-- IF topicrow.S_LAST_ROW -->
        </ul>
    </div>
</div>
<div class="topics_end">{TOTAL_TOPICS}</div>
<!-- ENDIF -->

<!-- BEGINELSE -->
<!-- IF S_IS_POSTABLE -->
<div class="panel">
    <div class="inner">
        <strong>{L_NO_TOPICS}</strong>
    </div>
</div>
<!-- ENDIF -->
<!-- END topicrow -->

<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
<form method="post" action="{S_FORUM_ACTION}">
    <fieldset class="display-options">
        <!-- IF not S_IS_BOT -->
        <label>{L_DISPLAY_TOPICS}{L_COLON} {S_SELECT_SORT_DAYS}</label>
        <label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
        <label>{S_SELECT_SORT_DIR}</label>
        <input type="submit" name="sort" value="{L_GO}" class="button2"/>
        <!-- ENDIF -->
    </fieldset>
</form>
<hr/>
<!-- ENDIF -->

<!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
<div class="action-bar bottom">
    <!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
    <div class="buttons">
        <!-- EVENT viewforum_buttons_bottom_before -->

        <a style="
           background: linear-gradient(194.41deg, rgba(107, 137, 251, 0.5) 8.82%, rgba(49, 175, 255, 0.5) 65.32%);
           border: 0;
           border-radius: 100px;
           padding: 10px 30px;
           color: white;
        " href="{U_POST_NEW_TOPIC}"
           class="button icon-button <!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->post-icon<!-- ENDIF -->"
           title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->">
            <!-- IF S_IS_LOCKED -->{L_BUTTON_FORUM_LOCKED}<!-- ELSE --> {L_BUTTON_NEW_TOPIC}<!-- ENDIF -->
        </a>

        <!-- EVENT viewforum_buttons_bottom_after -->
    </div>
    <!-- ENDIF -->

    <div class="pagination">
        <!-- IF not S_IS_BOT and U_MARK_TOPICS and .topicrow --><a href="{U_MARK_TOPICS}" data-ajax="mark_topics_read">{L_MARK_TOPICS_READ}</a>
        &bull; <!-- ENDIF -->
        {TOTAL_TOPICS}
        <!-- IF .pagination -->
        <!-- INCLUDE pagination.html -->
        <!-- ELSE -->
        &bull; {PAGE_NUMBER}
        <!-- ENDIF -->
    </div>
</div>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- IF S_DISPLAY_ONLINE_LIST and U_VIEWONLINE -->
<div class="stat-block online-list">
    <h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
    <p>{LOGGED_IN_USER_LIST}</p>
</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO -->
<div class="stat-block permissions">
    <h3>{L_FORUM_PERMISSIONS}</h3>
    <p><!-- BEGIN rules -->{rules.RULE}<br/><!-- END rules --></p>
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
